<template name='about'>
  <div class="container">
    <div class="row">
      <h5 class="text-center">How It Works</h5>
      <ol class="col-md-6 col-md-offset-4">
        <li>Whenever a driver reports a delay at the stop it places a marker on the map</li>
        <li>If the driver reports a delay at another location the first marker is removed</li>
        <li>The marker is removed if the delay is over two hours and a driver doesn't report a delay at the same location</li>

      </ol>
    </div>

  </div>


<div class="container">
    <div class="row">
      <img src="trucks/truck4.svg">
      <img src="trucks/truck4.svg">
      <img src="trucks/truck4.svg">
      <div class="backwards">
        <img class='reverse' src="trucks/truck4.svg">
        <img class='reverse' src="trucks/truck4.svg">
        <img class='reverse' src="trucks/truck4.svg">
      </div>
    </div>

  </div>
</template>
