<template name='main'>
    <div class='container'>
        <h3>
          <p class='regarding text-center'>

            Helping drivers spot delays before the route starts. </p>
              </h3>
        <br>
        <h4 class='text-center'>Time is money is a quote often heard but seldom understood. In transportation time spent waiting is literally money loss for owner/operators.</h4>

        <!-- {{>map}} -->
    </div>
    <div class='truck'>
        <img class='truck4' src="trucks/truck4.svg">
        <img class='truck6' src="trucks/truck6.svg">
        <img class='truck7' src="trucks/truck7.svg">
        <div class="backwards">
            <img class='reverse reverse7' src="trucks/truck7.svg">
            <img class='reverse reverse4' src="trucks/truck4.svg">
            <img class='reverse reverse6' src="trucks/truck6.svg">
        </div>
    </div>

</template>
