<template name='main'>
    <div class='container'>
        <h3>
          <p class='regarding text-center'>

            Helping drivers spot delays before the route starts. </p>
              </h3>
        <br><br>
        <h4 class='text-center truckSpace'>Time is money is a quote often heard but seldom understood. In transportation time spent waiting is literally money loss for owner/operators.</h4>

        <!-- {{>map}} -->
    </div>
    <div class='truck'>
        <img class='reverse truck8' src="trucks/truck8.svg">
        <div>
          <img src="trucks/truck16.svg">
          <img src="trucks/truck17.svg">
          <img src="trucks/truck82.svg">
        </div>
    </div>

</template>
